{% extends 'base.html'%}

{% block title%}
    List
{% endblock title%}


{% block content%}
    <h1 style="text-align: center; text-shadow: inherit;">List </h1>
    <hr>
    <br>
    <table class="table table-borderless ">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Firstname</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Birthday</th>
                <th>Level</th>
                <th>Created Date</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
                <tr>
                    <td>{{student.name}}</td>
                    <td>{{student.firstname}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.sex}}</td>
                    <td>{{student.birthday}}</td>
                    <td>{{student.level}}</td>
                    <td>{{student.date_created}}</td>
                    <td><a href="{% url 'student_update' student.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a></td>
                    <td>                        
                        <form action="{% url 'student_delete' student.id %}" methode= "post" class="d-inline">
                            {%csrf_token%}
                            <button type="submit" class="btn" >
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'student_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Inscrire
            </a>
        </div>
    </div>
    
{% endblock content%}