{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title%}
    Form
{% endblock title%}

{% block content%}
    <h1 style="text-align: center;">Forms </h1>
    <hr>
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <form action="" method="post" autocomplete="off">
                    {%csrf_token%}
                    {{form | crispy}}

                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <button type="submit" class="btn btn-success"><i class="fas fa-database"></i> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content%}
